.App {
  display: grid;
  grid-template: repeat(3, 1fr);
  align-items: center;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

.EventContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  width: 50vw;
  min-width: 40rem;
  max-width: 100rem;
  grid-column: 2;
  list-style: none;
}

.EventContainer input {
  border-bottom: 1px solid black;
  border-style: none;
  border-bottom-style: solid;
  margin-bottom: 2rem;
}

.event {
  display: grid;
  grid-template-columns: 2rem repeat(2, 1fr) 2fr;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 3rem;
  border-top: 1px solid black;
  text-align: right;
}

.event:last-of-type {
  border-bottom: 1px solid black;
}

.event > img {
  height: 3rem;
}

.event > span {
  height: 1rem;
  align-self: center;
}

.boldSubstring {
  font-weight: bold;
}

.event_date {
  align-self: stretch;
}

.counter {
  grid-column: 2;
}
